global
   daemon
   log 127.0.0.1 local0
   log 127.0.0.1 local1 notice
   maxconn 4096
defaults
   log global
   timeout connect 5000
   timeout client 50000
   timeout server 50000

frontend stats
   bind *:8080
   stats enable
   stats uri /stats
   stats refresh 10s

frontend http_front
   mode tcp
   bind *:80
   use_backend http_back

backend http_back
   mode tcp
   balance roundrobin
   $TEMPLATE_PROXY_SERVERS_HAPROXY